<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHSApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B16643C91C62BD83005E0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B16643E21C62BD83005E0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B16643ED1C62BD83005E0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
